@charset "UTF-8";
.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ad:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Andorra\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ae:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "United Arab Emirates\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_af:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Afghanistan\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ag:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Antigua & Barbuda\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ai:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Anguilla\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_al:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Albania\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_am:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Armenia\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ao:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Angola\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_aq:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Antarctica\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ar:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Argentina\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_as:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "American Samoa\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_at:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Austria\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_au:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Australia\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_aw:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Aruba\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ax:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Åland Islands\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_az:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Azerbaijan\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ba:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Bosnia & Herzegovina\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_bb:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Barbados\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_bd:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Bangladesh\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_be:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Belgium\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_bf:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Burkina Faso\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_bg:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Bulgaria\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_bh:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Bahrain\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_bi:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Burundi\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_bj:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Benin\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_bl:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "St. Barthélemy\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_bm:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Bermuda\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_bn:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Brunei\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_bo:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Bolivia\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_bq:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Caribbean Netherlands\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_br:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Brazil\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_bs:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Bahamas\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_bt:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Bhutan\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_bv:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Bouvet Island\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_bw:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Botswana\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_by:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Belarus\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_bz:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Belize\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ca:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Canada\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_cc:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Cocos (Keeling) Islands\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_cd:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Congo - Kinshasa\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_cf:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Central African Republic\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_cg:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Congo - Brazzaville\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ch:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Switzerland\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ci:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Côte d’Ivoire\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ck:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Cook Islands\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_cl:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Chile\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_cm:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Cameroon\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_cn:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "China\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_co:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Colombia\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_cp:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Clipperton Island\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_cr:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Costa Rica\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_cu:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Cuba\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_cv:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Cape Verde\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_cw:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Curaçao\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_cx:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Christmas Island\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_cy:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Cyprus\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_cz:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Czechia\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_de:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Germany\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_dg:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Diego Garcia\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_dj:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Djibouti\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_dk:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Denmark\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_dm:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Dominica\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_do:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Dominican Republic\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_dz:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Algeria\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ea:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Ceuta & Melilla\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ec:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Ecuador\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ee:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Estonia\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_eg:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Egypt\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_eh:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Western Sahara\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_er:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Eritrea\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_es:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Spain\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_et:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Ethiopia\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_eu:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "European Union\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_fi:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Finland\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_fj:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Fiji\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_fk:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Falkland Islands\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_fm:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Micronesia\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_fo:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Faroe Islands\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_fr:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "France\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ga:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Gabon\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_gb:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "United Kingdom\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_gd:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Grenada\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ge:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Georgia\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_gf:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "French Guiana\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_gg:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Guernsey\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_gh:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Ghana\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_gi:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Gibraltar\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_gl:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Greenland\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_gm:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Gambia\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_gn:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Guinea\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_gp:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Guadeloupe\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_gq:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Equatorial Guinea\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_gr:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Greece\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_gs:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "South Georgia & South Sandwich Islands\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_gt:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Guatemala\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_gu:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Guam\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_gw:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Guinea-Bissau\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_gy:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Guyana\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_hk:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Hong Kong SAR China\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_hm:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Heard & McDonald Islands\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_hn:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Honduras\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_hr:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Croatia\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ht:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Haiti\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_hu:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Hungary\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ic:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Canary Islands\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_id:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Indonesia\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ie:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Ireland\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_il:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Israel\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_im:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Isle of Man\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_in:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "India\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_io:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "British Indian Ocean Territory\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_iq:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Iraq\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ir:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Iran\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_is:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Iceland\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_it:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Italy\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_je:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Jersey\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_jm:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Jamaica\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_jo:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Jordan\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_jp:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Japan\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ke:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Kenya\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_kg:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Kyrgyzstan\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_kh:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Cambodia\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ki:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Kiribati\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_km:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Comoros\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_kn:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "St. Kitts & Nevis\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_kp:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "North Korea\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_kr:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "South Korea\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_kw:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Kuwait\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ky:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Cayman Islands\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_kz:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Kazakhstan\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_la:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Laos\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_lb:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Lebanon\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_lc:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "St. Lucia\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_li:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Liechtenstein\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_lk:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Sri Lanka\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_lr:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Liberia\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ls:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Lesotho\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_lt:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Lithuania\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_lu:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Luxembourg\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_lv:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Latvia\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ly:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Libya\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ma:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Morocco\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_mc:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Monaco\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_md:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Moldova\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_me:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Montenegro\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_mf:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "St. Martin\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_mg:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Madagascar\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_mh:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Marshall Islands\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_mk:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "North Macedonia\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ml:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Mali\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_mm:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Myanmar (Burma)\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_mn:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Mongolia\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_mo:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Macao SAR China\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_mp:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Northern Mariana Islands\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_mq:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Martinique\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_mr:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Mauritania\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ms:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Montserrat\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_mt:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Malta\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_mu:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Mauritius\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_mv:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Maldives\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_mw:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Malawi\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_mx:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Mexico\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_my:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Malaysia\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_mz:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Mozambique\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_na:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Namibia\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_nc:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "New Caledonia\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ne:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Niger\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_nf:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Norfolk Island\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ng:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Nigeria\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ni:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Nicaragua\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_nl:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Netherlands\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_no:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Norway\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_np:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Nepal\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_nr:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Nauru\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_nu:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Niue\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_nz:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "New Zealand\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_om:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Oman\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_pa:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Panama\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_pe:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Peru\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_pf:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "French Polynesia\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_pg:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Papua New Guinea\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ph:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Philippines\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_pk:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Pakistan\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_pl:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Poland\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_pm:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "St. Pierre & Miquelon\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_pn:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Pitcairn Islands\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_pr:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Puerto Rico\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ps:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Palestinian Territories\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_pt:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Portugal\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_pw:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Palau\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_py:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Paraguay\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_qa:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Qatar\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_re:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Réunion\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ro:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Romania\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_rs:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Serbia\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ru:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Russia\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_rw:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Rwanda\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_sa:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Saudi Arabia\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_sb:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Solomon Islands\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_sc:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Seychelles\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_sd:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Sudan\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_se:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Sweden\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_sg:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Singapore\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_sh:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "St. Helena\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_si:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Slovenia\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_sj:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Svalbard & Jan Mayen\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_sk:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Slovakia\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_sl:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Sierra Leone\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_sm:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "San Marino\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_sn:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Senegal\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_so:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Somalia\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_us:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "United States\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_xk:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Kosovo\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_ye:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Yemen\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_yt:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Mayotte\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_za:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "South Africa\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_zm:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Zambia\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_zw:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Zimbabwe\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_england:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "England\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_scotland:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Scotland\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":flag_wales:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Wales\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":united_nations:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "United Nations\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":transgender_flag:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Transgender Pride\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":rainbow_flag:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "LGBTQ+ Pride\a";
  white-space: pre;
}

.popoutContainer__7b9a3 .emojiSection_a65b54 .emoji.primaryEmoji__1194c[data-name=":pirate_flag:"] ~ .truncatingText_b75c4c .text-md-semibold__4cb23 .overflow__87fe8::before {
  content: "Jolly Roger\a";
  white-space: pre;
}/*# sourceMappingURL=main.css.map */